doctype html
html(lang="en")
  head
    title dirtylog
    link(href='/public/style.css', rel='stylesheet', type='text/css')
    link(rel="icon", type="image/png", href="/public/favi.png")
  body
    h1.
      User: #{user.name}

    input(id='user', class='hidden', value='#{user.name}')

    pre.
      new Image().src = "#{protocol}://#{host}/log/#{user.name}/{value}";

    button(id='clear').
      clear

    ul
      each val in user.list
        li= val

    script(src='/socket.io/socket.io.js')
    script(src='/public/dirtylog.js')